<header class="header">
  <a href="#" class="header__logo">AUCTION</a>
  <button class="header__authorization-btn btn-reset" (click)="navigate()">Авторизироваться</button>
</header>
<section class="lots__section">
  <div class="container lots__container">
    <div class="lots__content">
      <ul class="lots__list list-reset">
        <li class="lots__item" *ngFor="let i of lots">
          <div class="lots__img"></div>
          <div class="lots__descr">
            <p class="lots__id">№ {{i.id}}</p>
            <h3 class="lots__name">{{i.name}}</h3>
            <div class="lots__startBet-section">
              <span class="lots__startBet">Стартовая цена:</span>
              <div class="lots__price">
                <span class="lots__number">{{i.startBet}}</span>
                <span class="valuta">RUB</span>
              </div>
            </div>
            <div class="lots__currentBet-section">
              <span class="lots__currentBet">Текущая ставка:</span>
              <div class="lots__price">
                <span class="lots__number">700</span>
                <span class="valuta">RUB</span>
              </div>
            </div>
            <button class="lots__btn btn-reset ">
              Сделать ставку
            </button>
          </div>
          <!--<p *ngIf!="i.alive" class="lots__status">Лот закрыт</p>-->
        </li>
      </ul>
    </div>
  </div>
</section>
<!--<section class="lots__section">
  <div class="container lots__container">
    <div class="lots__content">
      <ul class="lots__list list-reset">
        <li class="lots__item" *ngFor="let i of lots">
          <h3 class="lots__name-id">{{i.name}} {{i.id}}</h3>
          <span class="lots__spanrice">{{i.startBet}} RUB</span>
          <p *ngIf!="i.alive" class="lots__status">Лот закрыт</p>
        </li>
      </ul>
    </div>
  </div>
</section>-->
